body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url('../img/bg-pattern.png') repeat center top #000000;
}

html {
    width: 100%;
    height: 100%;
}


@font-face {
    font-family: 'Harrington';
    src:
        url('../fonts/Harrington.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Harrington.woff') format('woff'),
        url('../fonts/Harrington.ttf') format('truetype'),
        url('../fonts/Harrington.svg#Harrington') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    /*font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: Harrington, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 1em;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Harrington, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background-color: #fff;
    color: #000;
    font-size: 16px;
}
@media(min-width:767px) {
    .navbar-custom {
        background: url('../img/menu.png') center bottom no-repeat;
    }
}

.navbar-custom .navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-toggle {
    margin: 4px 7px 4px 0;
}

.navbar-custom a {
    color: #000;
    font-weight: bold;  
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li a:focus {
    background-color: transparent;
}

@media(min-width:767px) {
    .navbar {
        padding: 25px 0;
        border-bottom: 0;
        letter-spacing: 0px;
        -webkit-transition: background .3s ease-out,padding .3s ease-out;
        -moz-transition: background .3s ease-out,padding .3s ease-out;
        transition: background .3s ease-out,padding .3s ease-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom .nav li a {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(min-width:1025px) {
    .navbar {
        letter-spacing: 1px;
    }
}
@media(min-width:1200px) {
    .navbar .container {
        padding-left: 70px;
        padding-right: 70px;
    }
}

#banner-header {
    width: 100%;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    text-align: center;
    position: relative;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.arrow {
    text-align: left;
    text-indent: -9999em;
    background: url('../img/arrow.png') no-repeat center center;
    width: 121px;
    height: 125px;
    display: inline-block;
    opacity: 0.5;
    margin-top: 5em;
    position: absolute;
    bottom: 3em;
    left: calc( 50% - 61px );
}
.arrow:hover {
    opacity: 1;
    transform: translate(0, 1em);
}

.content-section {
    padding-top: 8em;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contact-section {
    background-color: #111;
    width: 100%;
    padding: 50px 0;
    margin: 0;
    margin-top: 4em;
}

.echipa {
    margin: 0 10%;
}
    .echipa__nume {
        margin: 1em 0;
    }
    .echipa__descriere {
        font-size: 1em;
        color: #aaaaaa;
        overflow: hidden;
        line-height: 1.3em;
        height: 2.6em;
        text-overflow: ellipsis;
    }

@media(min-width:767px) {
    .content-section {
        padding-top: 14em;
        padding-bottom: 4em;
    }
}

.banner-social-buttons {
    margin-top: 0;
}
.banner-social-buttons a {
    text-align: left;
    text-indent: -9999em;
    width: 126px;
    height: 126px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 1em;
}
.facebook { background-image: url('../img/facebook.png'); }
.twitter  { background-image: url('../img/twitter.png'); }

@media(max-width:1199px) {
    .banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    .banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 2em 0;
}

footer p {
    margin: 0;
    font-size: 1.15em;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}


/* Program */
#program .ora {
    float: right;
}
#program .data {
    display: block;
}
#program .is-active {
    background: #222;
}

@media(max-width:767px) {
    #program td {
        display: block;
        border-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    #program td:last-child {
        border-bottom: 1px #aaa solid;
        padding-bottom: 0.5em;
    }
    #program .ziua {
        background-color: #444;
        /* to hide the border from the previous element */
        margin-top: -1px;
        line-height: 2em;
    }
    #program .piesa {
        font-weight: bold;
        font-size: 16px;
        padding-top: 0.5em;
    }
    #program .trupa {
        color: #888;
    }
    #program .ora {
        float: none;
    }
    #program .data {
        display: inline;
    }
}

#bilete li {
    display: inline-block;
    padding: 0 2em;
}
#bilete li a:link {
    background-position: top center;
    background-repeat: no-repeat;
    display: inline-block;
    padding-top: 100px;
    min-width: 100px;
}
.logo-scart {
    background-image: url('../img/logo-scart.png');
}
.logo-carturesti {
    background-image: url('../img/logo-carturesti.png');
}
.logo-ambasada {
    background-image: url('../img/logo-ambasada.png');
}

.galerie {
    display: inline-block;
    width: 200px;
    height: 199px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    font-family: Harrington, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 40px;
    padding-top: 65px;
    margin: 0 0.5em;
}
.galerie:hover {
    color: #fff;
}
.galerie--2014 { background-image: url('../img/galerie-2014.png'); }
.galerie--2015 { background-image: url('../img/galerie-2015.png'); }

/* header images */
@media(min-width: 767px) {
    #program {
        background: url('../img/header-program.png') center top no-repeat;
    }
    #bilete {
        background: url('../img/header-bilete.png') center 100px no-repeat;
    }
    #despre {
        background: url('../img/header-despre-noi.png') center 160px no-repeat;
    }
}