body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url('../img/bg-pattern.png') repeat center top #000000;
}

html {
    width: 100%;
    height: 100%;
}


@font-face {
    font-family: 'Harrington';
    src:
        url('../fonts/Harrington.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Harrington.woff') format('woff'),
        url('../fonts/Harrington.ttf') format('truetype'),
        url('../fonts/Harrington.svg#Harrington') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    /*font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: Harrington, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1em;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}

@media(min-width:767px) {
    h2 {
        font-size: 4em;
    }
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #058aa6;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #10c6ec;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Harrington, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background: #fff;
    color: #000;
    font-size: 16px;
    height: 50px;
}
.navbar-collapse {
    background: white;
}
@media(min-width:767px) {
    .navbar-custom {
        background: url('../img/menu.png') center bottom no-repeat;
    }
    .navbar-collapse {
        background: none;
    }
}

.navbar-custom .navbar-brand {
    font-weight: bold;
    font-size: 18px;

}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-toggle {
    margin: 4px 0 4px 0;
    text-align: left;
    text-indent: -9999em;
    background: url('../img/icon-menu.svg') no-repeat center center;
    background-size: 40%;
}
@media(min-width:767px) {
    .navbar-custom .navbar-brand {
        font-size: 24px;
        line-height: 100px;
        padding: 0;
    }
    .top-nav-collapse .navbar-brand {
        line-height: 60px;
    }
}

.navbar-custom a {
    color: #000;
    font-weight: bold;  
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out, line-height .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, line-height .3s ease-in-out;
    transition: background .3s ease-in-out, line-height .3s ease-in-out;
}
.navbar-custom .nav li.active {
    outline: none;
    /*background-color: rgba(255,255,255,.3);*/
}

.navbar-custom .nav li a:focus {
    /*background-color: transparent;*/
}

@media(min-width:767px) {
    .navbar {
        height: 100px;
        border-bottom: 0;
        letter-spacing: 0px;
        -webkit-transition: background .3s ease-out,height .3s ease-out;
        -moz-transition: background .3s ease-out,height .3s ease-out;
        transition: background .3s ease-out,height .3s ease-out;
    }

    .navbar-custom .nav li a {
        padding: 0 10px;
        height: 100px;
        line-height: 100px;
        background: url('../img/hover-menu.png') no-repeat center -100px;
    }

    .navbar-custom .nav li a:hover,
    /*.navbar-custom .nav li a:focus,*/
    .navbar-custom .nav li.active a {
        outline: 0;
        background-position: center -35px;
        line-height: 120px;
    }

    .top-nav-collapse {
        padding: 0;
        height: 60px;
    }
    .top-nav-collapse .nav li a {
        height: 60px;
        line-height: 60px;
    }
    .top-nav-collapse .nav li a:hover,
    /*.top-nav-collapse .nav li a:focus,*/
    .top-nav-collapse .nav li.active a {
        background-position: center -50px;
        line-height: 70px;
    }
}
@media(min-width:1025px) {
    .navbar {
        letter-spacing: 1px;
        font-size: 18px;
    }
}
@media(min-width:1200px) {
    .navbar .container {
        padding-left: 70px;
        padding-right: 70px;
    }
}

#banner-header {
    width: 100%;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    /*min-height: 1000px;*/
    text-align: center;
    position: relative;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.arrow {
    display: none;
    text-align: left;
    text-indent: -9999em;
    background: url('../img/arrow.png') no-repeat center center;
    width: 121px;
    height: 125px;
    opacity: 0.5;
    margin-top: 5em;
    position: absolute;
    bottom: 3em;
    left: calc( 50% - 61px );
}
.arrow:hover {
    opacity: 1;
    transform: translate(0, 1em);
}

@media(min-width:767px) {
    .intro {
        min-height: 1000px;
    }
    .arrow {
        display: inline-block;
    }
}

.content-section {
    padding-top: 8em;
}

.echipa {
    margin: 0 10%;
}
    .echipa__nume {
        margin: 1em 0;
    }
    .echipa__descriere {
        font-size: 1em;
        color: #aaaaaa;
        overflow: hidden;
        line-height: 1.3em;
        height: 2.6em;
        text-overflow: ellipsis;
    }

@media(min-width:767px) {
    .content-section {
        padding-top: 14em;
        padding-bottom: 4em;
    }
}

.social-buttons {
    margin-top: 0;
}
.social-buttons a {
    text-align: left;
    text-indent: -9999em;
    width: 63px;
    height: 63px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 1em;
}
.social-buttons a:hover {
    opacity: 0.6;
}
.facebook { background-image: url('../img/facebook.png'); }
.twitter  { background-image: url('../img/twitter.png'); }

@media(min-width: 767px) {
    .social-buttons a {
        width: 126px;
        height: 126px;
    }
}

@media(max-width:1199px) {
    .social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    .social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 2em 0;
}

footer p {
    margin: 0;
    font-size: 1.15em;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}


/* Program */
#program h2 {
    margin-bottom: 2em;
}
#program .ziua {
    background: url('../img/separator.png') no-repeat center bottom;
    font-size: 12px;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
#program h3 {
    margin: 0;
}
.transparent {
    opacity: 0.5;
}

#program ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    padding-top: 1em;
}
    #program a:link  { color: #fff; }

    .piesa {
        padding-top: 0.5em;
    }
        .piesa .nume {
            float: left;
            width: 65%;
        }
            .piesa .oras {
                font-weight: normal;
            }
            .piesa .trupa {
                padding-right: 0.5em;
            }
        .piesa .locatie {
            float: right;
            width: 35%;
            text-align: right;
        }
            .piesa .ora {
                display: inline-block;
                width: 3em;
            }

@media(min-width: 767px) {
    #program .ziua {
        font-size: 16px;
    }
    .piesa .nume {
        width: 55%;
        padding-left: 10%;
    }
    .piesa .locatie {
        width: 45%;
        padding-right: 10%;
    }
}

#program .is-active {
    color: #d9c204;
}
#program .is-active a:link,
#program .is-active a:visited {
    color: #faf1a8;
}
#program .is-active a:hover {
    color: #ffffff;
}
#program .is-active .transparent {
    opacity: 0.7;
}
@media(min-width: 992px) {
    #program .is-active .row {
        background: url('../img/active-day.png') no-repeat left bottom;
    }
}

#program .is-inactive {
    opacity: 0.4;
}


#bilete li {
    display: inline-block;
    padding: 0 2em;
}
.logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    display: inline-block;
    padding-top: 100px;
    min-width: 100px;
}
.logo-scart {
    background-image: url('../img/logo-scart.png');
}

@media(min-width:767px) {
    .logo {
        background-position: center top;
        background-size: auto auto;
    }
}

.galerie {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    color: #000;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    font-family: Harrington, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 24px;
    padding-top: 38px;
    margin: 0 0.5em;
}
.galerie:hover {
    color: #fff;
}
.galerie--2014 { background-image: url('../img/galerie-2014.png'); }
.galerie--2015 { background-image: url('../img/galerie-2015.png'); }

@media(min-width: 767px) {
    .galerie {
        width: 200px;
        height: 199px;
        font-size: 50px;
        background-size: auto;
        padding-left: 40px;
        padding-top: 65px;
    }
}

#sponsori {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 428px, #fff 428px, #fff);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 428px, #fff 428px, #fff);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 428px, #fff 428px, #fff);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 428px, #fff 428px, #fff);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 428px, #fff 428px, #fff);
    /*background: #fff;*/
    color: #000;
    margin-top: 8em;
}
    #sponsori .bg {
        padding-top: 6em;
        background: url(../img/background-footer.png) no-repeat center top;
    }
    #sponsori h3 {
        font-size: 2em;
        margin: 2em 0 1em 0;
    }

    .logo-list {
        list-style-type: none;
    }
        .logo-list li {
            display: inline-block;
            margin: 1.25em;
        }

    .copyright {
        padding: 2em 0;
    }

/* header images */
@media(min-width: 767px) {
    #despre h2,
    #bilete h2 {
        margin-bottom: 2em;
    }

    #program {
        background: url('../img/header-program.png') center top no-repeat;
    }
    #bilete {
        background: url('../img/header-bilete.png') center 100px no-repeat;
    }
    #despre {
        background: url('../img/header-despre-noi.png') center 160px no-repeat;
    }
}